<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <title>Metamarkets Home</title>
<!--[if lt IE 9]>
  <script src="./assets/javascripts/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="./assets/stylesheets/demo.css" />
  <!--[if (gt IE 8) | (IEMobile)]><!-->
  <link rel="stylesheet" href="./assets/stylesheets/unsemantic-grid-responsive.css" />
  <!--<![endif]-->
<!--[if (lt IE 9) & (!IEMobile)]>
  <link rel="stylesheet" href="./assets/stylesheets/ie.css" />
  <![endif]-->
</head>
<body>

  <div class="grid-container">

    <div class="grid-100">

      <h1>Some sort of header is here.</h1>

    </div>



<div class="grid-70">

<p>This is the left column</p>

</div>

<div class="grid-30">

<p>This is the right column</p>

</div>

  </div>




  <script src="./assets/javascripts/jquery.js"></script>
  <script src="./assets/javascripts/demo.js"></script>
</body>
</html>